.form{
  border: 2px solid black;
  border-radius: 15px;
  width:675px;
  background: #f2f2f27d;
  margin-left: 400px;
  padding: 30px 30px 30px 45px;
}

h1{
  font-size: 50px;
  text-align: center;
}

h4{
  text-align: center;
}
.usuarios{
  display: flex;
  font-size: 30px;

}

.usuarios input{
  width: 150%;
  height: 25px;
  font-size: 15px;
  border-radius: 10px;
}

.paciente{
  margin-left: 160px;
  text-align: center;
}

.doctor{
  text-align: center;
}

.ingresar input{
  background-color: #011d25;
  color: white;
  height: 30px;
  align-items: center;
}
  