form{
  position: absolute;
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 700px;
  height: 500px;
  border: 1px solid #ccc ;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f27d ;
}

.login-option {
  width: 45%;
  height: 100%;
  font-size: 20px;
  text-align: center;
}

.login-option img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  height: 40px;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 80%;
  height: 50px;
  font-size: 20px;
  background-color: #4e98b8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4e98b8;
}

h1, h2 {
  text-align: center;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background-image: url('/assets/images/fondofinal.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
  