<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.component.css">
    <title>REGISTRO</title>
</head>
<body class="todo">
    <section class="form-registro">
        <h1>REGISTRO</h1>
        <div class="nombre">
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombres">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellidos"><br>
        </div>
        <input class="controls" type="text" name="cedula" id="cedula" placeholder="Cedula"><br>
        <input class="controls" type="date" name="fechas de nacimineto" id="fecha de nacimiento" placeholder="Fecha de Nacimiento"><br>
        <input class="controls" type="text" name="genero" id="genero" placeholder="Genero"><br>
        <input class="controls" type="text" name="contraseña" id="contraseña" placeholder="Ingrese una Contraseña"><br>
        <input class="controls" type="text" name="Repita contraseña" id="Repita contraseña" placeholder="Repita contraseña"><br>
        <div  class="condiciones"><p>Estoy de acuerdo con <a href="#" class="condiciones"> Terminos y Condiciones</a></p></div>
        <input class="botons" type="submit" value="Registrar">
        <input class="boton" type="submit" value="Cancelar">
        <div class="p"><p><a href="/login">¿Ya tengo Cuenta?</a></p></div>
    </section>
</body>
</html>