<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="dashboard.component.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Salud</title>
</head>

    <body>
        <div class="container">
            <header>
                <h1>Sistema de Salud</h1>
            </header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Acerca de</a></li>
                </ul>
                <form>
                    <input type="text" placeholder="Buscar...">
                    <button type="submit">Ir</button>
                </form>
            </nav>
            <div class="hero">
                <h2>Bienvenido al Sistema de Salud</h2>
            </div>
            <section>
                <h2>Nuestros Servicios</h2>
                <div class="services">
                    <div class="service">
                        <img src="/assets/images/doctor.jpg" alt="Doctor">
                        <h3>Consultas Médicas</h3>
                        <p>Ofrecemos consultas médicas con nuestro equipo de profesionales de la salud altamente calificados.</p>
                    </div>
                    <div class="service">
                        <img src="/assets/images/tratamientos.jpg" alt="Medicina">
                        <h3>Tratamientos</h3>
                        <p>Contamos con una amplia gama de tratamientos para una variedad de afecciones de salud.</p>
                    </div>
                    <div class="service">
                        <img src="/assets/images/chequeo.png" alt="Chequeo de salud">
                        <h3>Chequeos de Salud</h3>
                        <p>Ofrecemos chequeos de salud periódicos para ayudar a nuestros pacientes a mantenerse saludables.</p>
                    </div>
                </div>
            </section>
            <footer>
                Copyright &copy; 2023 Sistema de Salud
            </footer>
        </div>
    </body>
    </html>