<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="dashboard.component.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Salud</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Sistema de Salud Publica </h1>
        </header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Guia del paciente</a></li>
                <li><a href="#">Red publica</a></li>
                <li><a href="/register-dates">Agendar Cita Medica</a></li>
            </ul>
        </nav>

        <div class="hero">
            <img src="/assets/images/images/salud_publica.jpg" alt="">
        </div>


        <section>
            <h2>Servicios Medicos </h2>
            <div class="services">
                <div class="service">
                    <img src="/assets/images/images/Trastornosmentales.png" alt="Doctor">
                    <h3>Trastornos mentales</h3>
                    <p>Un trastorno mental se caracteriza por una alteración clínicamente significativa de la cognición,
                        la regulación de las emociones o el comportamiento de un individuo..</p>
                </div>
                <div class="service">
                    <img src="/assets/images/images/Adicciones.png" alt="Medicina">
                    <h3>Adicciones</h3>
                    <p>Las adicciones son un trastorno mental crónico y recidivante, es decir, que alternan periodos de
                        consumo más descontrolado con períodos de abstinencia en los que se abandona el consumo. </p>
                </div>
                <div class="service">
                    <img src="/assets/images/images/Odontología.png" alt="Chequeo de salud">
                    <h3>Odontología</h3>
                    <p>La Odontología es el área médica dedicada al estudio de los dientes y las estructuras anejas y al
                        tratamiento de las enfermedades que les afectan.
                    </p>
                    <div>
                    </div>
                </div>
                <div class="service">
                    <img src="/assets/images/images/Nutrición.png" alt="Chequeo de salud">
                    <h3>Nutrición</h3>
                    <p>La nutrición es el proceso de consumo, absorción y utilización de los nutrientes necesarios para
                        el crecimiento y el desarrollo del organismo y para el mantenimiento de la vida.
                    </p>
                    <div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            Copyright &copy; 2023 Sistema de Salud
        </footer>
    </div>
</body>

</html>